
<meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<!--  <script src="https://code.jquery.com/jquery.min.js" /></script> -->



<script type='text/javascript'>
    $(window).load(function() {
        $(function() {
            $(".flower_icon").on("click", function() {
   $('#imagepreview').attr('src','./images/grave_buddybuddy.png'); // here asign the image to the modal when the user click the enlarge link
   $('#imagemodal').modal('show'); // imagemodal is the id attribute assigned to the bootstrap modal, then i use the show function
});
        });
    });
</script>
