a {
    color: #00B7FF;
}

body {}

@font-face {
    font-family: 'BMJUA';
    src: url('/fonts/BMJUA_ttf.ttf');
}

div#head_content {
    width: 100%;
    text-align: center;
}

div#head_text {
    font-family: 'BMJUA';
    line-height: 1.5;
}

img#logo {
    width: 200px;
    height: 200px;
    margin-top: 100px;
    margin-bottom: 60px;
}
div#main_content {
  text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

div#line {
    margin-left: 6vw;
    width: 88vw;
    height: 20px;
    background-image: url('/images/dot_line.png');
    background-repeat: repeat-x;
}

img.grave {
    width: 251px;
    height: 143px;
}

img.grave_line {
    width: 251px;
    height: 20px;
}

img.flower_icon {
    width: 34.3px;
    height: 25px;
}

img.comment_icon {
    widht: 25.6px;
    height: 25px;
}

img.share_icon {
    width: 27.9px;
    height: 25px;
}


img#imagepreview {
    width: 280px;
}

div.icon {
    text-align: right;
    margin-right: 10px;
}
.modal.modal-center {
  text-align: center;
}

.modal-dialog.modal-80size {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%
}

.modal-content.modal-80size {
  height: auto;
}


.modal-body
{
  text-align: center;
  padding: 0px;
}

.modal-header {
    border-bottom: none;
}

.modal-content {
    border-top: none;
}


div#right_contents {
    font-family: 'BMJUA';
    width: 100%;
    text-align: center;
}

div#border_line {
    width: 2px;
    height: 300px;
    background-color: BLACK;
    margin: 30px;
}


table#comment_table {
    margin: auto;
}

div#grave_title_line {
    width: 100%;
    height: 20px;
    background-image: url('/images/dot_line.png');
    background-repeat: repeat-x;
}

div#comment_list {
    width: 100%;
    height: 280px;
    overflow:scroll;
    border: 1px solid;
    background-color: #EDEDED;
    text-align: left;
    padding: 5px;
}

input#comment_input {
    width: 100%;
}
